/* =============================== */
/*        DARK MODE STYLES         */
/* =============================== */

:root {
  --bg-color: #0085a2;
  --text-color: #e5e7eb;
  --card-bg: #1e293b;
  --accent: #38bdf8;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: Arial, Helvetica, sans-serif;
}

a {
  color: var(--accent);
}

.card {
  background-color: var(--card-bg);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.app {
  max-width: 1300px;
  margin: 0 auto;
  padding: 1rem;
}

header {
  text-align: center;
  margin-bottom: 2rem;
}

.navbar {
  background-color: rgb(0, 82, 61);
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
}

.nav-list {
  list-style: none;
  display: grid;
  /* grid-template-columns: repeat(4, 1fr); */
   /* Equal columns or  
*/
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  margin: 0;
  padding: 0;
}

.nav-list li {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar a {
  color: white;
  text-decoration: none;
  padding: 7px 12px;
  border-radius: 5px;
}

.nav-list a:hover {
  background-color: #59ffd8;
  color: rgb(112, 4, 145);
}

.userCard {
  background-color: var(--card-bg);
  padding: 1rem;
  text-align: center;
  border: 1.5px solid white;
  border-radius: 1rem;
  margin-bottom: 1rem;
  align-items: center;
  width: 250px;
  margin: 10px;

  display: flex;
  flex-direction: column;

  justify-content: space-between; 
  box-shadow: #59ffd8 0px 6px 12px -2px, #59ffd8 0px 3px 7px -3px;
}

.Parent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 1rem;
  align-items: stretch;
  justify-content: center;
  min-height: 600px;
  margin-bottom: 1rem;
}

.userCard img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border: 1px solid #e5e7eb;
  border-radius: 50%;
  align-items: center;
}

.userCard button {
  background-color: #0085a2;
  border: #e5e7eb;
  border-radius: 3px;
  padding: 10px 70px;
  /* padding: 10px; */
  border-radius: 25px;
  cursor: pointer;
}





footer {
  background-color: var(--card-bg);
  padding: 1rem;
  text-align: center;
  border-radius: 8px;
  margin-top: 2rem;
}

footer p {
  color: var(--text-color);
  margin: 0;
}

